mixin alojamiento
  li
    a(href="")
      div
        img.w-64(src="https://a0.muscache.com/im/pictures/881d76c6-4de6-4808-9f0b-36462b6c48a2.jpg?aki_policy=large")
        .flex.justify-between.pt-2
          .flex.items-center
            span.uppercase.text-xs.font-bold.border.border-solid.rounded.border-gray-800.px-1 Superanfitrión
            span.text-gray-600.ml-2 Oia
          .flex.items-center
            i.fas.fa-star.fa-xs.text-red-600
            span.pl-1 4,92
        span.uppercase.w-64 Sunset Cave House in Oia
        .flex.items-center
          span.font-bold $7302 MXN
          span.pl-1 por noche