mixin aventuras
  section.mx-16.mt-10
    h3.text-2xl.font-bold Presentamos las Aventuras en Airbnb
    p Viajes de varios días dirigidos por expertos locales, con actividades, comidas y alojamiento incluidos
    ul.flex.justify-between.mt-6
      li
        a(href="")
          div
            img.w-64(src="https://a0.muscache.com/im/pictures/eb75748f-6989-4ec2-b02d-345877a1a0fe.jpg?aki_policy=poster")
            span.uppercase.text-xs Italia
            p.w-64 Un día en los alrededores del valle del Turano
            p.w-64 Desde $1,286 por persona
            .flex.items-center
              i.fas.fa-star.fa-xs
              span.ml-1 4.93 (46)
      li
        a(href="")
          div
            img.w-64(src="https://a0.muscache.com/im/pictures/45dc57ae-6bfe-42c1-961e-1291d216cc01.jpg?aki_policy=poster")
            span.uppercase.text-xs Indonesia
            p.w-64 De acampada en la selva de Bali
            p.w-64 Desde $2,627 por persona
            .flex.items-center
              i.fas.fa-star.fa-xs
              span.ml-1 4.99 (133)
      li
        a(href="")
          div
            img.w-64(src="https://a0.muscache.com/im/pictures/e14bbfbf-e1fe-45a2-8fce-44d6e5d2c509.jpg?aki_policy=poster")
            span.uppercase.text-xs Tailandia
            p.w-64 Dos dias en una granja de Bangkok
            p.w-64 Desde $2,720 por persona
            .flex.items-center
              i.fas.fa-star.fa-xs
              span.ml-1 4.94 (88)
      li
        a(href="")
          div
            img.w-64(src="https://a0.muscache.com/im/pictures/581391d7-8b4f-4dc1-ba75-2ef833f6709a.jpg?aki_policy=poster")
            span.uppercase.text-xs Reino Unido
            p.w-64 Acampada surf y coastering en Cornualles
            p.w-64 Desde $4,153 por persona
            .flex.items-center
              i.fas.fa-star.fa-xs
              span.ml-1 5.0 (21)
      li
        a(href="")
          div
            img.w-64(src="https://a0.muscache.com/im/pictures/345f29c1-15d6-4d45-94ac-fd5ca2eec590.jpg?aki_policy=poster")
            span.uppercase.text-xs Estados Unidos
            p.w-64 Campamento de surf y senderismo en Malibú
            p.w-64 Desde $6,836 por persona
            .flex.items-center
              i.fas.fa-star.fa-xs
              span.ml-1 4.97 (60)
    .mt-4
      a(href="")
          span.font-bold.text-teal-700 Mostrar todas las aventuras >