mixin descubre
  section.mx-16.pt-12
    h3.text-2xl.font-bold Descubre Airbnb
    ul.flex.justify-between.mt-6
      li
        a(href="")
          .flex.items-center.shadow-md
            img.w-32(src="https://a0.muscache.com/im/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?aki_policy=large")
            span.w-64.ml-6.font-bold Estancias
      li
        a(href="")
          .flex.items-center.shadow-md
            img.w-32(src="https://a0.muscache.com/im/pictures/a77ee672-e790-4362-8cc5-52bec1371ece.jpg?aki_policy=large")
            span.w-64.ml-6.font-bold Experiencias
      li
        a(href="")
          .flex.items-center.shadow-md
            img.w-32(src="https://a0.muscache.com/im/pictures/38f2bfd6-1f4d-46d7-babf-61657deef302.jpg?aki_policy=large")
            span.w-64.ml-6.font-bold Aventuras